spring:
  application:
    name: user-service
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    template:
      default-topic: user-events
server:
  port: 8080
logging:
  level:
    org.apache.kafka: WARN

# curcuit breaker
resilience4j:
  circuitbreaker:
    instances:
      kafkaPublisher:
        slidingWindowSize: 5
        minimumNumberOfCalls: 3
        failureRateThreshold: 50
        waitDurationInOpenState: 10s